body.dark{
  background:  rgb(83, 83, 83);
	color: #c7c0b5;

}
body.dark  .darkModeSwitch.active {
    background: #313131;
}
body.dark  .darkModeSwitch::after{
    display:block;
    background: #525252;
}
body.dark .entry-content img, body.dark .article.row-article .article-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
body.dark  .entry-content, body.dark .section-block, body.dark .section
, body.dark  .elementor-background-video-container, body.dark .featured
, body.dark   .title 
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

body.dark pre {
background:  #111;
box-shadow:none;
}

.container-datos.dark p.datosp {
  color:ghostwhite;
}
.container-datosES.dark p.datosp {
  color: ghostwhite;
}
.container-datosEXP.dark p.datos {
  color: ghostwhite;
}
.container-datosEXP.dark p.datosp {
  color: ghostwhite;
}
.container-datosHAB.dark p.datos {
  color: ghostwhite;
}
.container-datosHAB.dark .skill-name {
  color: ghostwhite;
}
.container-datosHAB.dark .skill-per::before {
  color: black;
}
.btn-primary.dark {
  margin-top: 10px;
  background: black;
}

@media print {
  body.dark {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    color: #000000;
  }
    .container-datos.dark p.datosp {
      color: rgb(0, 0, 0);
    }
  
    .container-datosES.dark p.datosp {
      color: rgb(0, 0, 0);
    }
  
    .container-datosEXP.dark p.datos {
      color: rgb(0, 0, 0);
    }
  
    .container-datosEXP.dark p.datosp {
      color: rgb(0, 0, 0);
    }
  
    .container-datosHAB.dark p.datos {
      color: rgb(0, 0, 0);
    }
  
    .container-datosHAB.dark .skill-name {
      color: rgb(0, 0, 0);
    }
}